{% extends "layout.html" %}

{% block body %}
<br>

<p id="temp"></p>
  
<button type="button" onclick="showAlert()">Warning button</button>

    <h2>Book List</h2>  

    <div class="container">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Title</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %} 
            <tr>
                <td> {{ book.book_title }} </td>
                <td> {{ book.book_status }} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>

    <h5 style="display:inline;"> Add a Book! </h5>
    <form action="/book_add" method="post">
        <input autocomplete="off" autofocus name="book_title" placeholder="Book Title" type="text">
    <select name="book_status">
        <option disabled selected value="">Status</option>
        <!--
        <option value="read">Read</option>
        <option value="to read">To Read</option>
        -->
        {% for status in book_status %} 
            <option value="{{ status }}">{{ status }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Add to List!">
    </form>

    <br>

    <h5 style="display:inline;">Remove a Book!</h5>
    <form action="/book_delete" method="post">
        <input autocomplete="off" autofocus name="book_title" placeholder="Book Title" type="text">

        <input type="submit" value="Remove from List!">
    </form>

    <br>
<!--
    <form action="/book_add" method="GET">
        <input type="submit" value="Add a Book!">
    </form>
    <form action="/book_delete" method="GET">
        <input type="submit" value="Remove a Book!">
    </form>
-->


<!-- JavaScript -->
<script type="text/javascript">

    function showAlert() {
        /*  warning = yello alert button, with close alert button. 
            aria-label="close" for accessibility for people using screen readers 
            &times is a special HTML x button. */
        let warning = '<div class="alert alert-warning" "alert-dismissible"> \
            <a href="#" class="close" data-dismiss="alert" aria-label="close"> &times;</a> \
            <strong>Warning!</strong> Uh oh! {{ message }}\
            </div>';
        document.getElementById("temp").innerHTML = warning;
    }
    
    var message = "{{ message }}"
    if (message) {
        showAlert();
    }
    /*
    message= "{{ message }}"
    if (message) {
        showAlert();
    }
    */

  </script>

{% endblock %} 