{% extends "layout.html" %}

{% block body %}
    <h2>Book List</h2>   


    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %} 
            <tr>
                <td> {{ book.book_title }} </td>
                <td> {{ book.book_status }} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <form action="/book_add" method="GET">
        <input type="submit" value="Add a Book!">
    </form>
    <form action="/book_delete" method="GET">
        <input type="submit" value="Remove a Book!">
    </form>

{% endblock %} 