{% extends "layout.html" %}

{% block body %}
    <h2>Book List</h2>   


    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %} 
            <tr>
                <td> {{ user }} </td>
                <td> {{ users[user] }} </td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
<!-- Book Title: {{ user }}. Status: {{ users[user] }}
    <br> -->

{% endblock %} 